<p>Main member registration notice</p>
<p>
    <br/>Thank you for using {{company_name}}
    <br/>This email is sent to customers who have completed the membership registration process to notify them of the completion of temporary registration and official registration.
    <br/>[User registration information]
</p>

<p>Email address: {{email}}</p>
<p>Name: {{fullname}}</p>
<p>Password：{{password}}</p>

<p>Please log in to the system and change your temporary password.</p>
<p><a href="{{link}}" target="__blank" style="text-decoration: none;">【LINK】</a></p>
<p>* This email is for delivery only and cannot be replied to.</p>
