<p>Hi {{fullname}}</p>
<p>Thank you for using.</p>
<p>This email is sent to customers who have completed the membership registration process to inform them that their temporary registration has been completed and that their actual registration has been completed.</p>
<p>[User registration information]</p>
<p>Email: {{email}}</p>
<p>Password: {{password}}</p>

<p>Please log in to the system and change your temporary password.</p>

<p><a href="{{link}}" target="__blank" style="text-decoration: none;">LINK</a></p>
<p>※This email is for delivery only and cannot be replied to.</p>